{% extends 'ynex/base.html' %}
{% block content %}
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <h1 class="page-title fw-semibold fs-18 mb-0">
        Servicios 
    </h1>
    <div class="ms-md-1 ms-0">
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">Servicios</li>
                <li class="breadcrumb-item active" aria-current="page">
                    Panel de Servicios
                </li>
            </ol>
        </nav>
    </div>
</div>

<section class="w-100">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">Panel de servicios</div>
        </div>
        <div class="card-body">
            <div class="row text-center">

                <div class="col-sm-4 col-lg-4">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="d-flex align-items-top">
                                <div class="me-3">
                                    <span class="avatar avatar-lg bg-info">
                                        <i class="fa-regular fa-building-memo fa-x6"></i>
                                    </span>
                                </div>
                                <div class="">
                                    <p class="mb-1 text-muted">Total de Servicios </p>
                                    <h5 id="servicesTotal" class="fw-semibold mb-0">Cargando...</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="d-flex align-items-top">
                                <div class="me-3">
                                    <span class="avatar avatar-lg bg-primary">
                                        <i class="fa-solid fa-money-check-dollar-pen fa-x6"></i>
                                    </span>
                                </div>
                                <div class="">
                                    <p class="mb-1 text-muted">Total de Egresos</p>
                                    <h5 id="egresosTotal" class="fw-semibold mb-0">Cargando...</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div class="d-flex align-items-top">
                                <div class="me-3">
                                    <span class="avatar avatar-lg bg-danger">
                                        <i class="fa-solid fa-file-invoice-dollar fa-x6"></i>
                                    </span>
                                </div>
                                <div class="">
                                    <p class="mb-1 text-muted">Total de pagos vencidos</p>
                                    <h5 id="paymentsTotal" class="fw-semibold mb-0">Cargando...</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="card-body">
            <div class="row text-center">

                <div class="col-sm-6 col-lg-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div>
                                <h5>Gráfica principal de egresos por categoria</h5>
                                <canvas id="graficaEgresos" width="400" height="200"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6">
                    <div class="card mb-0">
                        <div class="card-body">
                            <div>
                                <h5>Gráfica por filtros</h5>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="col-md-4 mb-2 me-2">
                                    <label for="category">Categoría de servicio</label>
                                    <select name="category" id="category" class="form-select" required>
                                        <option value="" disabled selected>Seleccione una categoría</option>
                                    </select>   
                                    
                                    <div class="col-md-12 mb-2 me-2">
                                        <label for="service">Servicio</label>
                                        <select name="service" id="service" class="form-select" disabled>
                                            <option value="" disabled selected>Seleccione un servicio</option>
                                        </select>
                                    </div>                                   
                                </div>

                            

                                <!-- Filtro Rango de Fecha -->
                                <div class="col-md-4 mb-4 me-4">
                                    <label for="date_service">Rango de fecha de servicio</label>
                                    <div class="d-flex gap-2">
                                        <div class="col-md-6">
                                            <label for="start_date_service">Fecha de inicio</label>
                                            <input type="date" id="start_date_service" name="start_date_service" class="form-control">
                                        </div>
                                        <div class="col-md-6">
                                            <label for="end_date_service">Fecha de fin</label>
                                            <input type="date" id="end_date_service" name="end_date_service" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                

                                <div class="col-md-4 mb-2 me-2">
                                    <label for="provider_services">Proveedor de servicio</label>
                                    <select name="provider_services" id="provider_services" class="form-select" required>
                                        <option value="" disabled selected>Seleccione un proveedor</option>
                                    </select>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                    <!-- Gráfica de Egresos por Categoría-->
                    <div id="graficaCategoria" class="col-sm-12 col-lg-12" style="display: none;">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div>
                                    <h5 id="categoryNameTitle">Gráfica de Servicios por Categoría</h5>
                                    <canvas id="graficaEgresosCategoria" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Gráfica de Egresos por periodo de fecha: dia, semana, mes, año-->
                    <div id="graficaRangoFechaContainer" class="col-sm-12 col-lg-12" style="display: none;">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div>
                                    <h5>Gráfica de servicios por Rango de Fecha</h5>
                                    <canvas id="graficaRangoFechaCanvas" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Gráfica de Egresos por Proveedor -->
                    <div id="graficaProveedor" class="col-sm-12 col-lg-12" style="display: none;">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div>

                                    <h5 id="proveedor_nombre_actualizado">Gráfica de Servicios del proveedor</h5>
                                    <canvas id="graficaEgresosProveedor" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Gráfica de Egresos por servicio -->
                    <div id="graficaServicio" class="col-sm-12 col-lg-12" style="display: none;">
                        <div class="card mb-0">
                            <div class="card-body">
                                <div>
                                    <h5 id="servicio_nombre_actualizado">Gráfica de Servicio </h5>
                                    <canvas id="graficaEgresosServicio" width="400" height="200"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</section>
{% endblock %}




{% load static %}

{% block modals %}

{% endblock %}

{% block scripts %}


<script src="{% static 'assets/js/users/users.js' %}"></script>
<script src="{% static 'assets/js/users/areas.js' %}"></script>
<script src="{% static 'assets/js/users/providers.js' %}"></script>
<script src="{% static 'assets/js/services/dashboard_services.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}
