{% load static %}
<!DOCTYPE html>
<html
    lang="en"
    dir="ltr"
    data-nav-layout="vertical"
    data-theme="light"
    data-theme-mode="light"
    data-header-styles="light"
    data-menu-styles="dark"
    data-vertical-style="overlay"
    data-toggled="icon-overlay-close"
    loader="enable"
>
<head>
    {% include "ynex/utils/head.html" %}
    {% block head %} {% endblock %}
</head>
<body>
    <div id="loader" class="">
        <!-- <amp-img src="{% static 'assets/images/media/loader.svg' %}" alt="loader" layout="responsive" style="max-width: 300px;"></amp-img> -->
        <i class="fa-solid fa-loader fa-spin text-primary" style="font-size:5rem"></i>
    </div>

    <div class="page">
        {% include "ynex/utils/topbar.html" %}
        {% include "ynex/utils/sidebar.html" %}

        <!-- Start::app-content -->
        <div class="main-content app-content">
            <div class="container-fluid">
                {% block content %}
                <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
                    <h1 class="page-title fw-semibold fs-18 mb-0">Empty</h1>
                    <div class="ms-md-1 ms-0">
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="javascript:void(0);">Pages</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    Sin contenido
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
                {% endblock %}
            </div>
        </div>
        <!-- x -->
        {% include "ynex/utils/footer.html" %}
    </div>

    <div class="scrollToTop" style="display: none;">
        <span class="arrow">
            <i class="fa-solid fa-arrow-up"></i>
        </span>
    </div>

    <div id="responsive-overlay"></div>

    <!-- modals -->
    {% block modals %} {% endblock %}
    {% block offcanvas %} {% endblock %}

    <!-- scripts -->
    {% include "ynex/utils/scripts.html" %}
    
    <!-- defaultmenu -->
    <script src="{% static 'assets/js/defaultmenu.js' %}" defer></script>
    <!-- simplebar js -->
    <script src="{% static 'assets/js/simplebar.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/module.js' %}"></script>
    {% block scripts %} {% endblock %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <script>
                    alertify.success('{{ message }}');
                </script>
            {% elif message.tags == "error" %}
                <script>
                    alertify.error('{{ message }}');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>