<div class="modal fade effect-scaleform_option_maintenance" id="mdl-crud-option-maintenance-item" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
        <form name="" class="modal-content" id="form_option_maintenance">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar una nueva opcion</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
     
            <div class="modal-body">
                <div class="d-none">
                    <input type="hidden" name="id" value="0">
                </div>
                <div class="row g-3">
                    <div class="col-md-12">
                        <label for="option_maintenance_name">Nombre de la nueva opcion</label>
                        <input type="text" id="option_maintenance_name" name="option_maintenance_name" class="form-control" placeholder="Nombre de la opcion" required>
                    </div>  
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" id="btn-save-new-option" class="btn btn-primary" >Guardar</button>
                <button type="button" class="btn btn-secondary" id="cerrar" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>
