<div class="modal fade effect-scale" id="mdl-crud-detaill" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Informacion del item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="table-items-detaill">
                    <table class="table table-bordered w-100" id="item-detail-table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>identificador </th>
                                <th>Responsable</th>
                                <th>Fecha de asignacion</th>
                                <th>QR</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cerrar
                </button>
            </div>
        </div>
    </div>
</div>
