#/modules/migrations/
/modules/__pycache__/
/modules/views/authentication/__pycache__/
/modules/views/computer-equipment/__pycache__/
/modules/views/equipment-and-tools/__pycache__/
/modules/views/infrastructure/__pycache__/
/modules/views/main/__pycache__/
/modules/views/users/__pycache__/
/modules/views/vehicles/__pycache__/
#/users/migrations/
/users/__pycache__/
/venv/
/docs/
/__pycache__/
db.sqlite3
*.pyc
/.vscode
postgres_data/
/staticfiles/
/certbot
/nginx-local/
/modules/views/vehicles/awsCred.env
/modules/views/computer-equipment/.env
modules/awsCred.env
postgres/siaDB.pgsql
modules/.DS_Store
.DS_Store
modules/static/assets/json/
modules/migrations/0108_infrastructure_item_comments.py
modules/migrations/0109_remove_infrastructure_item_comments_and_more.py
modules/migrations/0110_equipments_tools_detail.py
modules/migrations/0110_equipments_tools_detail.py
modules/migrations/0111_alter_equipments_tools_detail_serial_number.py
modules/migrations/0112_equipment_tools_has_serial_number.py
modules/migrations/0113_equipments_tools_detail_state.py
