#/modules/migrations/
/modules/__pycache__/
/modules/views/authentication/__pycache__/
/modules/views/computer-equipment/__pycache__/
/modules/views/equipment-and-tools/__pycache__/
/modules/views/infrastructure/__pycache__/
/modules/views/main/__pycache__/
/modules/views/users/__pycache__/
/modules/views/vehicles/__pycache__/
#/users/migrations/
/users/__pycache__/
/venv/
/docs/
/__pycache__/
db.sqlite3
*.pyc
/.vscode
postgres_data/
/staticfiles/
/certbot
/nginx-local/
/modules/views/vehicles/awsCred.env
/modules/views/computer-equipment/.env
modules/awsCred.env
postgres/siaDB.pgsql
modules/.DS_Store
.DS_Store
modules/static/assets/json/
modules/migrations/
