{% extends 'ynex/base.html' %}
{% block content %}
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <h1 class="page-title fw-semibold fs-18 mb-0">
        Equipos de computo
    </h1>
    <div class="ms-md-1 ms-0">
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">Equipo de Computo</li>
                <li class="breadcrumb-item active" aria-current="page">
                    Info
                </li>
            </ol>
        </nav>
    </div>
</div>



<div class="row g-3 mb-3 d-none">
    <div class="col-sm-4 col-lg-3">
        <div class="card mb-0">
            <div class="card-body">
                <div class="d-flex align-items-top">
                    <div class="me-3">
                        <span class="avatar avatar-lg bg-primary">
                            <i class="fa-solid fa-user-tie-hair fa-xl"></i>
                        </span>
                    </div>
                    <div class="">
                        <p class="mb-1 text-muted">Ocupados</p>
                        <h5 id="adminTotal" class="fw-semibold mb-0"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4 col-lg-3">
        <div class="card mb-0">
            <div class="card-body">
                <div class="d-flex align-items-top">
                    <div class="me-3">
                        <span class="avatar avatar-lg bg-primary">
                            <i class="fa-solid fa-user-secret fa-xl"></i>
                        </span>
                    </div>
                    <div class="">
                        <p class="mb-1 text-muted">Disponibles</p>
                        <h5 id="encargadoTotal" class="fw-semibold mb-0">0</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="w-100">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Equipos
            </div>
            <div class="">
                <button type="button" class="btn btn-sm btn-primary" data-computer-system="add-item"
                    title="Agregar usuario">
                    <i class="fa-solid fa-plus"></i>
                    Agregar
                </button>
                <button type="button" class="btn btn-sm btn-info-light" data-computer-system="refresh-table"
                    title="Refrescar tabla" data-refresh-table="table_refrendo">
                    <i class="fa-solid fa-arrows-rotate"></i>
                </button>
            </div>
        </div>
        <div class="card-body">
            <!-- tabla -->
            <div class="table-responsive">
                <table class="table table-bordered w-100" id="computer_equipment_table">
                    <thead></thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <!-- end tabla -->
        </div>
    </div>
</section>

<section class="row row-cols-3">
    {% for item in dataCatalog %}
        {{item.id}}
    
<div class="row px-3">
    <!-- tarjeta -->
    <div class="card shadow-sm" style="width:400px;">
        <!-- contenido principal -->
        <div class="card-body">

            <div class="d-flex justify-content-between">

                <div class="d-flex">

                    <div class="bg-primary text-white rounded p-2 me-2">
                        <i class="fa-solid fa-laptop"></i>
                    </div>

                    <div>
                        <h3 class="fw-bold mb-0">IVANNA GABRIELA</h3>
                        <p class="text-muted">EQ-0002</p>
                    </div>

                </div>

                <span class="badge bg-primaryorder">
                    HUAWEI
                </span>

            </div>
        </div>

        <!-- estado -->
        <div class="px-4 mb-4">
            <span class="badge bg-primary">Portátil</span>
            <span class="badge bg-success">En uso</span>
            <span class="badge bg-success">Activo</span>
        </div>

        <!-- informacion -->
        <div class="row px-3">

            <div class="col-6">
                <small class="text-muted">Área</small>
                <h5>Compras</h5>
            </div>

            <div class="col-6">
                <small class="text-muted">Responsable</small>
                <h5>Ivanna</h5>
            </div>

        </div>

        <div class="row px-3 mt-3">

            <div class="col-6">
                <small class="text-muted">Modelo</small>
                <h5>MateBook M</h5>
            </div>

            <div class="col-6">
                <small class="text-muted">Antigüedad</small>
                <h5>3 años 10 m</h5>
            </div>

        </div>

        <div class="mx-3 mt-3 p-2 bg-light rounded">
            HW-WX9-0002
        </div>

        <div class="p-3">
            <strong>Comentarios:</strong>
            En buen estado
        </div>

        <div class="card-footer bg-white">

            <div class="d-flex justify-content-center gap-4">

                <button class="btn btn-outline-secondary"><i class="fa-regular fa-eye"></i></button>
                <button class="btn btn-outline-primary"><i class="fa-solid fa-pencil"></i></button>
                <button class="btn btn-outline-danger"><i class="fa-solid fa-trash"></i></button>

            </div>

        </div>

    </div>

</div>
        
    {% endfor %}
</section>
{% endblock %}

{% load static %}

{% block modals %}
{% include "computer-equipment/modals/mdl_crud_computerSystem.html" %}
{% include "computer-equipment/modals/mdl_crud_maintenance.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/users/users.js' %}"></script>
<script src="{% static 'assets/js/users/areas.js' %}"></script>
<script src="{% static 'assets/js/users/providers.js' %}"></script>
<script src="{% static 'assets/js/computer-equipment/computerEquipment.js' %}"></script>
<script>
    const areas = new Areas({
        list: { id: ".modal select[name='area_id']" }
    });
    const responsables = new Users({
        list: { id: ".modal select[name='current_responsible_id']" }
    });
    const equipos = new ComputerEquipment({
        table: { id: "#computer_equipment_table" },
        list: {}
    });
</script>
{% endblock %}