<div class="modal fade effect-scale" id="mdl_crud_computer_equipment_maintenance" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-fullscreen-lg-down">
        <form name="" class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                asads
                <div class="row g-3">
                    <div class="col-12 d-none">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="0">
                    </div>
                    <div class="col-md-4">
                        <label for="">Tipo</label>
                        <select name="type" class="form-select">
                            <option value="Preventivo">Preventivo</option>
                            <option value="Correctivo">Correctivo</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="">¿Quien lo realiza?</label>
                        <select name="performed_by" class="form-select">
                            <option value="Usuario">Usuario</option>
                            <option value="Proveedor">Proveedor</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-proveedor">
                        <label for="">Proveedor</label>
                        <select name="provider_id" class="form-select"></select>
                    </div>
                    <div class="col-md-4 col-usuario">
                        <label for="">Usuario</label>
                        <select name="user_id" class="form-select"></select>
                    </div>
                    <div class="col-md-4">
                        <label for="">Costo</label>
                        <div class="input-group">
                            <span class="input-group-text">$</span>
                            <input type="number" id="" name="cost" class="form-control" placeholder="Costos" step="0.01" min="0">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label for="">Fecha</label>
                        <input type="date" name="date" class="form-control">
                    </div>
                    <div class="col-md-12">
                        <label for="">Acciones</label>
                        <select name="actions[]" class="form-select xd-1" data-placeholder="Acciones" multiple></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="add" class="btn btn-primary">
                    <i class="fa-solid fa-plus me-1"></i>
                    Agregar
                </button>
                <button type="submit" name="update" class="btn btn-primary">
                    <i class="fa-solid fa-floppy-disk me-1"></i>
                    Guardar
                </button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </form>
    </div>
</div>