{% extends 'ynex/base.html' %}
{% load static %}

{% block content %}
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <h1 class="page-title fw-semibold fs-18 mb-0">
        Items
    </h1>
    <div class="ms-md-1 ms-0">
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">Infraestructura</li>
                <li class="breadcrumb-item active" aria-current="page">
                    Items
                </li>
            </ol>
        </nav>
    </div>
</div>

<section id="v-deliverie-pane">
    <div class="info">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Items de Categorias
                </div>
                <div class="">
                    <button type="button" class="btn btn-sm btn-primary" data-infrastructure-item="add-item" title="Agregar usuario" aria-label="add">
                        <i class="fa-solid fa-plus"></i>
                        Agregar
                    </button>
                    <button type="button" class="btn btn-sm btn-info-light" data-infrastructure-item="refresh-table"
                        title="Refrescar tabla" aria-label="refresh">
                        <i class="fa-solid fa-arrows-rotate"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive w-100">
                    <table class="table table-bordered w-100" id="infraestructura-items-table">
                        <thead></thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block modals %}
<script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

{% include "infrastructure/modals/mdl-crud-item.html" %}
{% include "infrastructure/modals/mdl-crud-qr.html" %}
{% include "infrastructure/modals/mdl-crud-item-location.html" %}
{% include "infrastructure/modals/mdl-crud-detaill.html" %}
{% include "infrastructure/modals/mdl-crud-responsable.html" %}

{% endblock %}

{% block head %} {% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/users/users.js' %}"></script>
<script src="{% static 'assets/js/infrastructure/category.js' %}"></script>
<script src="{% static 'assets/js/infrastructure/items.js' %}"></script>
<script src="{% static 'assets/js/infrastructure/qr.js' %}"></script>

<script>
    const categoria = new InfrastructureCategory({
        list: { id: "select[name='category_id']" }
    });

    const items = new InfrastructureItem({
        table: { id: "#infraestructura-items-table" }
    })
    
</script>
{% endblock %}