/* Estilos generales */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    margin: 0;
    color: #f0ebe5;
}

/* Barra de desplazamiento */
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background-color: #7a9e29;
}

::-webkit-scrollbar-track {
    background-color: #f0ebe5;
}

/* Estilo para el navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f0ebe5;
    z-index: 1000;
    padding-bottom: 15px;
    transition: top 0.3s ease;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    width: 100%;
}

.navbar-logo {
    display: flex;
    justify-content: flex-start;
    padding-left: 12%;
    cursor: pointer;
    transition: 0.3s ease;
}

.navbar-logo img {
    width: 130px;
}

.navbar-logo:hover {
    opacity: 0.9;
}

.navbar-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding-right: 12%;
}

.navbar-links li {
    position: relative;
}

.navbar-links a {
    color: #1c1c1c;
    text-decoration: none;
    font-size: 0.9rem;
    padding: 1rem 1.5rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #fffafa;
}

.navbar-links span {
    position: absolute;
    left: -10rem;
    opacity: 0;
    z-index: -1;
    width: 0%;
    height: 215%;
    background-color: #7a9e29;
    transition: 0.5s ease;
    top: -1rem;
}

.navbar-links li:hover span {
    width: 100%;
    left: 0;
    opacity: 1;
}

.navbar-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
    z-index: 1100;
    transition: all 0.3s ease;
}

.navbar-toggle span {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: all 0.3s ease;
}

.name {
    cursor: pointer;
}

/* TOP NAVBAR MENU */
.top-container {
    background: #2a2829;
    padding: 0 12%;
    margin-bottom: 1%;
    top: 0;
    height: auto;
}

.top-container .navbar-links-top {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0.9% 0;
    font-size: 0.8rem;
}

.top-container .navbar-links-top a {
    text-decoration: none;
    color: #7e7e7e;
    transition: 0.3s ease;
}

.top-container .navbar-links-top a:hover {
    text-decoration: none;
    color: #a5c334;
    font-weight: 600;
}

/* Estilo para el mÃƒÂ³dulo de accesos a la plataforma */
.landing-section {
    margin: 0 10%;
    margin-top: 12%;
    margin-bottom: 5%;
}

.card-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: nowrap;
    cursor: pointer;
}

.card {
    position: relative;
    width: 220px;
    height: 320px;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.card:hover .overlay {
    background-color: rgba(0, 0, 0, 0.8);
    transition: background-color 0.5s ease;
}

.content {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    color: #fff;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.card:hover .content {
    transform: translateY(0);
    transition: transform 0.3s ease-in-out;
}

.content a {
    font-size: 1rem;
}

.title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    font-size: 1rem;
    font-weight: 300;
    z-index: 2;
    color: #fff;
    transition: 0.4s ease-in-out;
}

.card:hover .title {
    bottom: 145px;
    font-size: 1.1rem;
    padding-right: 1rem;
    font-weight: 600;
    color: #7a9e29;
}

.info {
    width: 75%;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
    font-size: 0.8rem;
}

.btn {
    width: 75%;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.2rem;
    padding: 0.4rem 0.8rem;
    background: #f0ebe5;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: #7a9e29;
    color: #f0ebe5;
}

.btnmas {
    width: 75%;
    display: inline-block;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.2rem;
    padding: 0.4rem 0.8rem;
    background: #f0ebe5;
    color: #333;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.btnmas:hover {
    background: #2a3d91;
    color: #f0ebe5;
}

/* INFO BANNERS */

.info-banner {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    background-color: #f0ebe5;
}

.info-options {
    flex: 1;
    min-width: 300px;
    padding: 40px;
    background-color: #f0ebe5;
}

.info-options h2 {
    color: #2a2829;
    font-size: 24px;
    margin-bottom: 10px;
}

.info-options p {
    color: #2a2829;
    margin-bottom: 20px;
}

.button-group,
.button-group-portal {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

.button-group button,
.button-group-portal button {
    border: 1px solid #2a2829;
    padding: 10px 15px;
    border-radius: 6px;
    background-color: #f0ebe5;
    cursor: pointer;
    transition: all;
    animation-duration: 300s;
    animation: ease-in-out;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.button-group button:hover,
.button-group-portal button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.button-group .filled,
.button-group-portal .filled {
    background-color: #7a9e29;
    color: #f0ebe5;
    border: 1px solid #7a9e29;
}

.cta {
    background-color: #7a9e29;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 300;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 40%;
}

.cta:hover {
    background-color: #5d7a21;
}

.info-image {
    flex: 1;
    position: relative;
    min-width: 300px;
    overflow: hidden;
}

.info-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-text {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    z-index: 1;
    max-width: 80%;
}

.info-text h1 {
    font-size: 36px;
    line-height: 1.2;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-text p {
    font-size: 16px;
    margin-bottom: 20px;
}

/* Estilos para la secciÃƒÂ³n de planes de pago */
.pricing-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-bottom: 3%;
}

.pricing-section {
    background-color: #ffffff;
    padding: 0 4rem;
    color: #1c1c1c;
    height: auto;
    position: relative;
    z-index: 11;
    padding-bottom: 10%;
}

.pricing-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    max-width: 1200px;
    margin: 0 auto;
    /* height: fit-content; */
    height: auto;
}

.pricing-plan .plan {
    background: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    height: 88.5%;
    display: grid;
    /* gap: 0.75rem; */
    align-content: space-between;
}

.pricing-plan-cta {
    height: 100%;
    /* padding: 1rem 0rem; */
    /* height: 2.5rem; */
    text-align: center;
    width: 100%;
}

.pricing-plan:hover {
    transform: translateY(-1rem);
}

.pricing-plan {
    background: #fffafa;
    border-radius: 8px;
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 10;
    height: 100%;
    width: 100%;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.pricing-plan:hover::after,
.pricing-plan:hover::before {
    content: "";
    position: absolute;
    background-image: conic-gradient(
        from var(--angle),
        #a5c334,
        #7a9e29,
        #c1d16c,
        #5d7a21,
        #b4d83f,
        #a5c334
    );
    padding: 0.25rem;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: 3s spin linear infinite;
}

.pricing-plan::before {
    filter: blur(0.8rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.pricing-plan h4 {
    /* margin: 0rem; */
    font-size: 0.8rem;
    color: #9cafaa;
    font-weight: 500;
    letter-spacing: 0.1rem;
    margin: 0.5rem 0.25rem;
}

.pricing-plan .price {
    font-size: 2rem;
    color: #333;
    margin: 0.5rem 0rem;
}

.pricing-plan ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
    text-align: left;
    height: 7rem;
    font-size: 0.9rem;
}

.pricing-plan ul li {
    margin-bottom: 0.5rem;
}

.pricing-plan .cta {
    background-color: #a5c334;
    color: #fff;
    padding: 0.5rem 4rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pricing-plan .cta:hover {
    background-color: #88b428;
}

/* Plan destacado */
.pricing-plan.featured {
    border: 2px solid #a5c334;
    background-color: #f0f8e5;
}

.price span {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    margin-left: 0.5rem;
    font-weight: bold;
    color: #9cafaa;
}

/* Estilos para la secciÃƒÂ³n de contacto */
.contact-section {
    padding: 1rem 4rem;
    color: #fffafa;
    height: 100%;
    background-color: #a5c334;
    position: relative;
}

.contact-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/staticfiles/assets/images/landing/bg_contact.jpg);
    background-size: cover;
    background-position: center;
    z-index: 1;
    opacity: 0.1;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-container h2 {
    text-align: center;
    font-size: 2.5rem;
    margin: 1rem;
    color: #fffafa;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.contact-container p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.contact-form {
    display: grid;
    gap: 1.25rem;
    text-align: center;
    width: 100%;
    justify-content: center;
}

.contact-form .form-group {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    position: relative;
}

.contact_labelline {
    position: absolute;
    padding-left: 1rem;
    line-height: 1rem;
    height: 2rem;
    background-color: transparent;
    transition: 0.2s ease;
}

.contact-form input,
.contact-form textarea {
    position: relative;
    width: 40rem;
    height: 1rem;
    outline: none;
    font-size: 1rem;
    padding: 0.5rem 0rem 0.5rem 0.5rem;
    line-height: 1rem;
    border-radius: 0.5rem;
    border: 2px solid #fffafa;
    background: transparent;
    transition: 0.1s ease;
    z-index: 10;
}

.contact-form input:focus,
.contact-form input:valid,
.contact-form textarea:focus,
.contact-form textarea:valid {
    color: #fffafa;
    border: 2px solid #fffafa;
}

.contact-form input:focus + .contact_labelline,
.contact-form input:valid + .contact_labelline,
.contact-form textarea:focus + .contact_labelline,
.contact-form textarea:valid + .contact_labelline {
    color: #1c1c1c;
    height: 0.5rem;
    line-height: 0.5rem;
    letter-spacing: 0.1rem;
    transform: translate(0.65rem, -1.25rem) scale(1);
    background-color: #fffafa;
    padding: 0.3rem 0.25rem;
    z-index: 11;
    border-radius: 0.5rem;
}

.contact-form textarea {
    height: 5rem;
    resize: vertical;
}

.contact-form .cta {
    background-color: #a5c334;
    color: #fffafa;
    border: 2px solid #fffafa;
    padding: 0.7rem 2rem;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0.3rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
    text-transform: uppercase;
    width: 100%;
}

.contact-form .cta:hover {
    background-color: #fffafa;
    width: 100%;
    color: #1c1c1c;
}

.footer-section {
    background-color: #1c1c1c;
    color: #fff;
    font-family: "Arial", sans-serif;
}

.footer-top {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 2rem 1rem;
    border-bottom: 1px solid #333;
}

.footer-column {
    margin: 1rem;
    min-width: 200px;
}

.footer-column h4 {
    margin-bottom: 1rem;
    border-bottom: 2px solid #a5c334;
    display: inline-block;
    padding-bottom: 0.5rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 0.5rem;
}

.footer-column ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-column ul li a:hover {
    color: #a5c334;
}

.footer-bottom {
    text-align: center;
    padding: 1rem 0;
    background-color: #141414;
    font-size: 0.9rem;
}

.quotation-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.quotation-modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 600px;
    position: relative;
    font-family: "Poppins", sans-serif;
    animation: fadeIn 0.3s ease-in-out;
}

.quotation-modal-content h2 {
    color: #000;
}

.quotation-close {
    color: #000;
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.quotation-close:hover {
    color: #e74c3c;
}

.quotation-form .form-group {
    position: relative;
    margin-bottom: 25px;
}

.quotation-form input,
.quotation-form textarea {
    width: 100%;
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 10px 5px;
    font-size: 16px;
    background: none;
    font-family: "Poppins", sans-serif;
    outline: none;
}

.quotation-form textarea {
    resize: vertical;
    min-height: 100px;
}

.contact_labelline {
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 14px;
    color: #fffafa;
    pointer-events: none;
    transition: 0.3s ease;
}

.quotation-form input:focus + .contact_labelline,
.quotation-form input:not(:placeholder-shown) + .contact_labelline,
.quotation-form textarea:focus + .contact_labelline,
.quotation-form textarea:not(:placeholder-shown) + .contact_labelline {
    top: -10px;
    font-size: 12px;
    color: #555;
}

.cta {
    display: inline-block;
    padding: 12px 24px;
    background-color: #0074d9;
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.cta:hover {
    background-color: #005fa3;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.carousel {
    position: relative;
    width: 100%;
    overflow-x: hidden; /*cambiar a visible*/
    overflow-y: visible;
    justify-self: center;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    /* scroll-snap-type: x mandatory;  */
}

.carousel-track {
    display: flex;
    /* transition: transform 0.5s ease-in-out; */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #333333;
    font-weight: 800;
    /*padding: 0.25rem;*/
    cursor: pointer;
    z-index: 10;
    background: transparent;
    border: transparent;
    font-size: 1.25rem;

    animation-duration: 300s;
    animation: ease-in-out;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.carousel-button:hover {
    transform: translateY(-50%) scale(1.5);
}

.carousel-button.prev {
    left: 0rem;
}

.carousel-button.next {
    right: 0rem;
}

.carousel-item {
    min-width: 300px;
    max-width: 300px;
    flex: 0 0 auto;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    overflow: visible;
}

.title-carousel {
    font-size: 1.2rem !important;
    font-weight: 800;
    margin: 0.25rem 0rem;
    padding: 0rem 2rem;
}

.title-register {
    color: #378ce7;
    font-weight: 600;
    font-size: 1rem;
    text-align: center;
    margin: 0.25rem 0rem !important;
}

.information-carousel {
    margin: 0.33rem 0rem;
    padding: 0rem 2rem;
    font-size: 0.77rem;
}

.footer-carousel {
    text-align: right;
    font-size: 1rem;
    font-weight: 700;
    padding: 0rem 2rem;
}

.price-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.33rem;
    text-align: center;
    margin: 0rem;
    border-bottom: 0.25rem solid rgb(165, 195, 52);
}

.price-title h3 {
    margin: 0rem;
}

/* Estilos para pantallas muy grandes (1600px) */
@media only screen and (min-width: 1600px) {
    .navbar-container {
        padding: 0 40px;
    }

    .navbar-logo img {
        width: 150px;
    }

    .navbar-links a {
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .navbar-links {
        gap: 2rem;
    }

    .landing-section .feature h3 {
        font-size: 1.7rem;
    }
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 1100px) {
    .navbar-container {
        padding: 0 30px;
    }

    .navbar-logo img {
        width: 130px;
    }

    .navbar-links a {
        font-size: 0.9rem;
    }

    .navbar-links {
        gap: 1.5rem;
        margin-right: 1rem;
    }

    .landing-section .feature h3 {
        font-size: 1.5rem;
        text-shadow: -2px -2px 0 #1c1c1c, 2px -2px 0 #1c1c1c, -2px 2px 0 #1c1c1c, 2px 2px 0 #1c1c1c;
        letter-spacing: 0.1rem;
    }

    .landing-section a {
        font-size: 0.9rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 950px) {
    .landing-section h3 {
        font-size: 1rem;
    }

    .pricing-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing-plan li {
        font-size: 14px;
    }

    .pricing-plan ul {
        height: 6rem;
    }
}

/* Estilos para pantallas pequeÃƒÂ±as (menos de 769px) */
@media screen and (max-width: 768px) {
    .top-container .navbar-links-top a {
        color: #fffafa;
        font-size: 0.5rem;
        border-left: 1px solid #fffafa;
        border-right: 1px solid #fffafa;
        padding: 0.33rem;
    }

    .top-container .navbar-links-top {
        gap: 0rem;
        display: flex;
        justify-content: center;
    }

    .top-container {
        padding: 0rem;
    }

    .pricing-plan .plan {
        padding: 0.75rem;
        height: 95%;
        width: 15rem;
        display: block;
    }

    .price-title h3 {
        font-size: 1rem;
    }

    .title-carousel {
        font-size: 0.88rem !important;
    }

    .title-register {
        font-size: 0.77rem !important;
    }

    .information-carousel {
        font-size: 0.66rem;
    }

    .footer-carousel {
        font-size: 0.77rem !important;
    }

    .carousel {
        height: 350px;
    }

    .footer-top {
        flex-direction: column;
        align-items: center;
    }

    .footer-column {
        text-align: center;
    }

    .pricing-section {
        padding: 1rem 2rem;
    }

    .contact-container h2 {
        font-size: 1.5rem;
    }

    .contact-form input,
    .contact-form textarea {
        width: 20rem;
    }

    .pricing-plan:hover {
        transform: translateY(0);
    }

    .pricing-plan::after,
    .pricing-plan::before {
        content: "";
        position: absolute;
        background-image: conic-gradient(
            from var(--angle),
            #a5c334,
            #7a9e29,
            #c1d16c,
            #5d7a21,
            #b4d83f,
            #a5c334
        );
        padding: 0.25rem;
        border-radius: 10px;
        height: 100%;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -10;
        animation: 3s spin linear infinite;
    }

    .pricing-container {
        padding: 1rem;
        display: flex;
        gap: 1rem;
        max-width: max-content;
        margin: 0 auto;
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
        justify-content: start;
    }

    .pricing-title {
        font-size: 1.5rem;
    }

    .landing-section .feature {
        flex: 0 0 auto;
        width: 100%;
        scroll-snap-align: start;
    }

    .landing-section .feature .feature-img {
        opacity: 1;
        transform: scale(1);
        clip-path: none !important;
    }

    .landing-section .feature-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        opacity: 0;
        transform: scale(1);
        transition: transform 1s, opacity 0.3s;
    }

    .landing-section .feature:hover {
        transform: scaleX(1);
        z-index: 10;
    }

    .navbar {
        padding: 0rem 0;
    }

    .navbar-links {
        max-height: 0;
        visibility: hidden;
        overflow: hidden;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fffafa;
        padding: 0;
        box-shadow: 0px 1rem 1rem rgba(0, 0, 0, 0.3);
        transition: max-height 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
    }

    .navbar-links.active {
        max-height: 200px;
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    .navbar-toggle {
        display: block;
        margin-right: 1.5rem;
    }

    .navbar-toggle span {
        background-color: #000;
    }

    .navbar-toggle.active span:nth-child(1) {
        transform: rotate(45deg);
        position: relative;
        top: 8px;
    }

    .navbar-toggle.active span:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active span:nth-child(3) {
        transform: rotate(-45deg);
        position: relative;
        top: -8px;
    }

    .navbar-links a {
        width: 100%;
        padding: 0rem 4rem;
        text-align: left;
    }

    .navbar-container {
        flex-direction: row;
        align-items: center;
        padding: 0rem 1rem;
        display: flex;
    }

    .navbar-logo img {
        width: 100px;
        margin: 0rem;
    }

    .navbar-links {
        gap: 1rem;
        margin-top: 0rem;
    }

    .landing-section .feature.visible {
        opacity: 1 !important;
        z-index: 10;
    }

    .landing-section .feature.visible img.visible {
        opacity: 1;
        transform: scaleX(1);
    }

    .landing-section .feature.visible a {
        opacity: 1;
    }
    .top-container {
        display: hidden;
    }

    .card-container {
        width: 100%;
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        gap: 10px;
        padding-top: 25%;
        justify-content: start;
    }

    .card-container .card {
        width: 100%;
        margin-bottom: 5%;
        max-height: 100%;
        flex: 0 0 85%;
        scroll-snap-align: start;
        height: 300px;
        min-width: 100%;
    }

    .content {
        width: 110% !important;
        padding: 5% 5%;
    }
    .btn {
        background: #f0ebe5;
    }
    .btnmas {
        background: #dcd1bf;
    }
}
