{% load static %}
<!DOCTYPE html>
<html
    lang="en"
    dir="ltr"
    data-nav-layout="vertical"
    data-theme-mode="light"
    data-header-styles="light"
    data-menu-styles="dark"
    loader="disable"
>
<head>
    {% include "ynex/utils/head.html" %}
    <script>
        const redirect = "{{ redirect }}";
    </script>
</head>

<body class="">
    <div class="container-lg">
        <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class=""></div>
                <div class="card custom-card">
                    <form method="post" class="card-body p-5">
                        <p class="h5 fw-semibold mb-2 text-center">
                            Restablecer la contraseña
                        </p>
                        <p class="mb-4 text-muted op-7 fw-normal text-center">
                            Hola Usuario
                        </p>
                        {% if messages %}
                        <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
                            {% for message in messages %}
                                <div class="toast align-items-center text-white {% if message.tags %}{{ message.tags }}{% endif %}" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="d-flex">
                                        <div class="toast-body">
                                            {{ message }}
                                        </div>
                                        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="d-none">
                            {% csrf_token %}
                        </div>
                        <div class="row gy-3">
                            <div class="col-md-12">
                                <label for="reset-newpassword" class="form-label text-default">New Password</label>
                                <div class="input-group">
                                    <input type="password" name="password" class="form-control form-control-lg" id="reset-newpassword" placeholder="new password">
                                    <button class="btn btn-light" type="button" onclick="createpassword('reset-newpassword',this)" id="button-addon21">
                                        <i class="fa-solid fa-eye align-middle"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="reset-confirmpassword" class="form-label text-default">
                                    Confirm Password
                                </label>
                                <div class="input-group">
                                    <input type="password" name="confirmpassword" class="form-control form-control-lg" id="reset-confirmpassword" placeholder="confirm password">
                                    <button class="btn btn-light" type="button" onclick="createpassword('reset-confirmpassword',this)" id="button-addon22">
                                        <i class="fa-solid fa-eye align-middle"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-12 d-grid">
                                <button type="submit" name="submit" class="btn btn-lg btn-primary">
                                    Guardar
                                </button>
                            </div>
                        </div>
                        <div class="text-center my-3 authentication-barrier d-none">
                            <span class="">O</span>
                        </div>
                        <div class="btn-list text-center d-none">
                            <button type="button" name="facebook" class="btn btn-icon btn-light">
                                <i class="fa-brands fa-google fw-bold text-dark op-7"></i>
                            </button>
                            <button type="button" name="facebook" class="btn btn-icon btn-light">
                                <i class="fa-brands fa-facebook-f fw-bold text-dark op-7"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'assets/js/show-password.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
    <script>
        alertify.set('notifier', 'position', 'top-right');
        alertify.set('notifier', 'delay', 1000);
    </script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <script>
                    alertify.success('{{ message }}');
                </script>
            {% elif message.tags == "error" %}
                <script>
                    alertify.error('{{ message }}');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>

</html>