{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr" data-nav-layout="vertical" data-theme-mode="light" data-header-styles="light"
    data-menu-styles="dark" loader="disable">

<head>
    {% include "ynex/utils/head.html" %}
    <script>
        const redirect = "{{ redirect }}";
    </script>
</head>

<body class="bg-white">
    <div class="row authentication mx-0">
        <div class="col-xxl-7 col-xl-7 col-lg-12">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-xxl-6 col-xl-7 col-lg-7 col-md-7 col-sm-8 col-12">
                    <form method="post" class="p-5">
                        <p class="h4 fw-semibold mb-2 text-center">
                            BIENVENIDO USUARIO
                        </p>
                        <h6 class="mb-3 text-muted op-7 fw-normal text-center">
                            Ingrese su información
                        </h6>
                        <br><br> 
                        <div class="row gy-3">
                            <div class="col-12 d-none">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ next }}">
                            </div>
                            <div class="col-xl-12 mt-0">
                                <p class="h6 fw-semibold mb-2">
                                    Usuario:
                                </p>
                                <input type="text" name="username" class="form-control form-control-lg"
                                    id="signin-username" placeholder="Usuario" required>
                            </div>
                            <div class="col-xl-12 mb-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <p class="h6 fw-semibold mb-2">
                                        Contraseña:
                                    </p>
                                    <h6 class="mb-0">
                                        <a href="/password-recovery/request-username/" class="text-danger">
                                            ¿Contraseña olvidada?
                                        </a>
                                    </h6>
                                </div>
                                <div class="input-group">
                                    <input type="password" name="password" class="form-control form-control-lg"
                                        id="signin-password" placeholder="Contraseña" required>
                                </div>
                                <div class="mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                        <label class="form-check-label text-muted fw-normal" for="defaultCheck1">
                                            ¿Recordar contraseña?
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <button type="submit" class="btn btn-lg btn-primary" style="font-size: 15px;">
                                    Iniciar sesión
                                </button>
                            </div>
                        </div>
                    </form>                    
                </div>
            </div>
        </div>
        <div class="col-xxl-5 col-xl-5 col-lg-5 d-xl-block d-none px-0">
            <div class="authentication-cover"></div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-param/2.0.0/jquery-param.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/AlertifyJS/1.13.1/alertify.min.js"></script>
    <script src="{% static 'assets/js/two-step-verification.js' %}"></script>
    <script>
        alertify.set('notifier', 'position', 'top-right');
        alertify.set('notifier', 'delay', 3000);
    </script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success" %}
                <script>
                    alertify.success('{{ message }}');
                </script>
            {% elif message.tags == "error" %}
                <script>
                    alertify.error('{{ message }}');
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}
</body>

</html>