{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Cache-Control" content="no-store, no-cache, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <title>SIA</title>
    <link rel="stylesheet" type="text/css" href="static/assets/css/landing.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-container">
        <div class="navbar-logo">
            <img src="/static/assets/images/landing/logoBlack.png" alt="Logo">
        </div>
        <!-- Botón de menú para dispositivos móviles -->
        <div class="navbar-toggle" id="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <!-- Enlaces de navegación a la derecha -->
        <ul class="navbar-links" id="navbar-links">
            <li><a href="#home">Inicio</a><span class="hover-rect"></span></li>
            <li><a href="#pricing">Planes</a><span class="hover-rect"></span></li>
            <li><a href="#contact">Contacto</a><span class="hover-rect"></span></li>
            {% if user.is_authenticated %}
                <li><a>{{user.username}}<span class="hover-rect"></span></a></li>
            {% else %}
                <li><a href="/login">Inicio de sesión<span class="hover-rect"></span></a></li>
            {% endif %}
        </ul>
        </div>
    </nav>
    
    <section class="landing-section" id="home">
        <div class="container">
            <div class="feature">
                <img src="/static/assets/images/landing/bgComputer.png" class="feature-img" alt="@Imagen generada con IA">
                <div class="content">
                    <h3>Equipo de Computo</h3>
                    <!--p>Mejora la gestión de tus equipos de cómputo mediante un seguimiento exhaustivo.</p-->
                    <a href="/computers-equipment/" class="cta">Ingresar</a>
                </div>
            </div>
            <div class="feature">
                <img src="/static/assets/images/landing/bgInfraestructura.jpeg" class="feature-img" alt="@Imagen generada con IA">
                <div class="content">
                    <h3>Infraestructura</h3>
                    <!--p>Mantén tu infraestructura bajo control con herramientas que proporcionan un monitoreo constante.</p-->
                    <a href="/infrastructure/" class="cta">Ingresar</a>
                </div>
            </div>
            <div class="feature">
                <img src="/static/assets/images/landing/bgVehiculos.jpg" class="feature-img" alt="@Imagen generada con IA">
                <div class="content">
                    <h3>Vehículos</h3>
                    <!--p>Supervisa el uso, el mantenimiento y el estado de cada unidad para asegurar un funcionamiento seguro.</p-->
                    <a href="/vehicles/" class="cta">Ingresar</a>
                </div>
            </div>
            <div class="feature">
                <img src="/static/assets/images/landing/bgTools.jpg" class="feature-img" alt="@Imagen generada con IA">
                <div class="content">
                    <h3>Equipos y Herramientas</h3>
                    <!--p>Controla un inventario actualizado de tus equipos y herramientas, permitiendo un acceso rápido y un uso eficiente.</p-->
                    <a href="/equipments_and_tools/" class="cta">Ingresar</a>
                </div>
            </div>
            <div class="feature">
                <img src="/static/assets/images/landing/bgServicios.jpg" class="feature-img" alt="@Imagen generada con IA">
                <div class="content">
                    <h3>Servicios</h3>
                    <!--span>
                        Registra de manera detallada los pagos realizados por tus servicios, simplificando el seguimiento y la gestión eficiente de tus egresos.
                    </span-->
                    <a href="/category_services/" class="cta">Ingresar</a>
                </div>
            </div>
        </div>
    </section>

    <section class="pricing-section" id="pricing">
        <h2 class="pricing-title">¡Consulta nuestros planes y empieza a rentar!</h2>
        <div class="pricing-container">
            <div class="pricing-plan">
                <div class="plan">
                    <h3>Plan Básico</h3>
                    <p class="price">$119<span>mxn/mensual</span></p>
                    <h4>Costo anual a $1,309 mxn</h4>
                    <ul>
                        <li>✅ 1 Usuario</li>
                        <li>✅ Acceso a solo un módulo</li>
                        <li>✅ Inventario limitado a 1000 Unidades</li>
                    </ul>
                    <div class="pricing-plan-cta">
                        <a href="#contact" class="cta">Cotizar</a>
                    </div>
                </div>
            </div>
            <div class="pricing-plan">
                <div class="plan">
                    <h3>Profesional</h3>
                    <p class="price">$238<span>mxn/mensual</span></p>
                    <h4>Costo anual a $2,618 mxn</h4>
                    <ul>
                        <li>✅ 3 Usuario</li>
                        <li>✅ Acceso a tres módulos</li>
                        <li>✅ Inventario limitado a 15000 Unidades</li>
                    </ul>
                    <div class="pricing-plan-cta">
                        <a href="#contact" class="cta">Cotizar</a>
                    </div>
                </div>
            </div>
            <div class="pricing-plan">
                <div class="plan">
                    <h3>Empresarial</h3>
                    <p class="price">$519<span>mxn/mensual</span></p>
                    <h4>Costo anual a $5,709 mxn</h4>
                    <ul>
                        <li>✅ Usuario Ilimitados</li>
                        <li>✅ Acceso a todos los módulos</li>
                        <li>✅ Inventario ilimitado</li>
                    </ul>
                    <div class="pricing-plan-cta">
                        <a href="#contact" class="cta">Cotizar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    <section class="contact-section" id="contact">
        <div class="contact-container">
            <h2>Contáctanos</h2>
            <p>Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos.</p>
            <form action="#" method="POST" class="contact-form">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="name" required>
                    <div class="contact_labelline">Nombre</div>
                </div>
                <div class="form-group">
                    <input type="text" name="name_company" required>
                    <div class="contact_labelline">Nombre de la empresa</div>
                </div>
                <div class="form-group">
                    <input type="text" name="email" required>
                    <div class="contact_labelline">Correo electrónico</div>
                </div>
                <div class="form-group">
                    <textarea id="message" name="message" required></textarea>
                    <div class="contact_labelline">Mensaje</div>
                </div>
                <button type="submit" class="cta">Enviar mensaje</button>
            </form>
        </div>
    </section>

    <footer class="footer-section">
        <!-- Footer Superior -->
        <div class="footer-top">
            <div class="footer-column">
                <h4>Enlaces Rápidos</h4>
                <ul>
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#pricing">Planes</a></li>
                    <li><a href="#contact">Contacto</a></li>
                    {% if not user.is_authenticated %}
                        <li><a href="/user/login/">Iniciar sesión</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="footer-column">
                <h4>Servicios</h4>
                <ul>
                    <li><a href="/computers-equipment/">Equipo de computo</a></li>
                    <li><a href="/infrastructure/">Infraestructura</a></li>
                    <li><a href="/vehicles/">Vehículos</a></li>
                    <li><a href="/equipments_and_tools/">Equipos y herramientas</a></li>
                    <li><a href="/category_services/">Servicios</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Contacto</h4>
                <ul>
                    <li>Email: cris.cuamatzi@tenergy.com.mx</li>
                    <li>Tel: (442) 208 6040</li>
                    <li>Ubicación: Camino a Calichar KM 100 + 1, Apaseo el Alto. Guanajuato, México.</li>
                </ul>
            </div>
        </div>
    
        <!-- Footer Inferior -->
        <div class="footer-bottom">
            <p>&copy; 2024 Tenergy,  Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
{% if sendEmail %}
    <script>
        setTimeout(function(){
            alert("FORMULARIO DE CONTACTO ENVIADO");
        }, 3000);
    </script>
{% endif %}


<script>
    document.addEventListener('DOMContentLoaded', function () {
        /*THIS FOR THE PANNEL VIEWS, WHEN THE VIEW IS IN PHONE*/
        const view_features = document.querySelectorAll('.landing-section .feature');
        const observer = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                const image = entry.target.querySelector('img');
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                    image.classList.add('visible');
                } else {
                    entry.target.classList.remove('visible');
                    image.classList.remove('visible');
                }
            });
        },{
            threshold: 0.5
        });
        view_features.forEach(view_feature => {
            observer.observe(view_feature);
        });

        /*THIS FOR THE NAVBAR WHEN THE WEBSITE IT'S BEING SEE IN A PHONE*/
        const navbarToggle = document.getElementById('navbar-toggle');
        const navbarLinks = document.getElementById('navbar-links');
        navbarToggle.addEventListener('click', () => {
            navbarLinks.classList.toggle('active');
            navbarToggle.classList.toggle('active');
        });

        /*THIS FOR THE PANNEL VIEWS, WHEN THE MOUSE IT'S OVER THE SECCTION, THIS SHOW THE IMAGE, TEXT, AND BUTTON*/
        const features = document.querySelectorAll('.feature');
        const container = document.querySelector('.container');
        // Observar cada "feature"
        features.forEach(feature => {
            observer.observe(feature);
        });
        features.forEach(function(feature) {
            feature.addEventListener('mouseenter', function() {
                features.forEach(function(otherFeature) {
                    if (otherFeature !== feature) {
                        otherFeature.style.opacity = 0.4;
                    }
                });
            });
            feature.addEventListener('mouseleave', function() {
                features.forEach(function(otherFeature) {
                    otherFeature.style.opacity = 1;
                });
            });
        });

        /*AUTO SCROLL WITH THE NAVBAR DINAMIC AND FLUID*/
        const navLinks = document.querySelectorAll('.navbar-links a');
        navLinks.forEach(link => {
            link.addEventListener('click', function(e) {
                e.preventDefault();
                const targetId = link.getAttribute('href').substring(1);
                if(targetId == "login"){
                    window.location.pathname = "user/login/"
                }
                const targetElement = document.getElementById(targetId);
                window.scrollTo({
                    top: targetElement.offsetTop,
                    behavior: 'smooth'
                });
                navbar.style.top = '-300px';
            });
        });

        /*NAVBAR DISAPPEAR WHEN THE SCROLL ITS DOWN BUT SHOW'S WHEN IT'S UP*/
        let lastScrollTop = 0;
        const navbar = document.querySelector('.navbar');
        window.addEventListener('scroll', function() {
            let currentScroll = window.pageYOffset || document.documentElement.scrollTop;
            if (currentScroll > lastScrollTop) {
                navbar.style.top = '-300px';
            } else {
                navbar.style.top = '0';
            }
            lastScrollTop = currentScroll <= 0 ? 0 : currentScroll;
        });
    });
</script>
</html>
