{% extends 'ynex/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2>Cambiar Contraseña</h2>

        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
            {{ message }}
            </div>
        {% endfor %}
        {% endif %}

        <form method="post">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="old_password" class="form-label">Contraseña actual</label>
            <input type="password" name="old_password" id="old_password" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="new_password1" class="form-label">Nueva contraseña</label>
            <input type="password" name="new_password1" id="new_password1" class="form-control" required>
        </div>

        <div class="mb-3">
            <label for="new_password2" class="form-label">Confirmar nueva contraseña</label>
            <input type="password" name="new_password2" id="new_password2" class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary">Cambiar contraseña</button>
        </form>
    </div>
{% endblock %}
