<div class="modal fade" id="mdl_crud_company" data-bs-backdrop="static" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-xxl modal-fullscreen-lg-down">
        <form name="form-vrt" class="modal-content" id="form_add_company" onsubmit="company.add_company(); return false" method="POST">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Agregar Empresa</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-3">
                    <div class="col-12 d-none">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="0">
                    </div>
                    <div class="col-md-6">
                        <label for="name">Nombre</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Nombre" minlength="3" required maxlength="50">
                    </div>
                    <div class="col-md-6">
                        <label for="address">Dirección</label>
                        <input type="text" id="address" name="address" class="form-control" placeholder="Dirección" minlength="3" required maxlength="50">
                    </div>
                    
                    <div class="col-md-6">
                        <label for="email_company">Correo electrónico </label>
                        <input type="email" name="email_company" class="form-control" placeholder="Email" required>
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-primary" value="GUARDAR">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </form>
    </div>
</div>