<div class="card custom-card card-info">
    <div class="card-header">
        <div class="card-title">
            Info
        </div>
        <div class=""></div>
    </div>
    <div class="card-body p-2">
        <div class="table-responsive">
            <table class="table table-bordered w-100">
                <tbody>
                    <tr>
                        <td>Area</td>
                        <td colspan="2"><span data-key="area__name"></span></td>
                    </tr>
                    <tr>
                        <td rowspan="2">Responsable</td>
                        <td>Actual</td>
                        <td>
                            <span data-key="current_responsible__first_name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Anterior</td>
                        <td>
                            <span data-key="previous_responsible__first_name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">
                            Equipo
                        </td>
                        <td>Nombre</td>
                        <td>
                            <span data-key="name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Numero de serie</td>
                        <td>
                            <span data-key="serial_number"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Funcionando</td>
                        <td>
                            <span data-key="is_active"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Estado</td>
                        <td>
                            <span data-key="equipment_status"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">Procesador</td>
                        <td>Info</td>
                        <td>
                            <span data-key="processor"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Número de Núcleos</td>
                        <td>
                            <span data-key="num_cores"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Velocidad</td>
                        <td>
                            <span data-key="processor_speed"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Arquitectura</td>
                        <td>
                            <span data-key="architecture"></span>
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">Disco</td>
                        <td>Tipo</td>
                        <td><span data-key="disk_type"></span></td>
                    </tr>
                    <tr>
                        <td>Capacidad</td>
                        <td><span data-key="disk_capacity"></span></td>
                    </tr>
                    <tr>
                        <td rowspan="3">RAM</td>
                        <td>Info</td>
                        <td>
                            <span data-key="ram"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo</td>
                        <td>
                            <span data-key="ram_type"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Velocidad</td>
                        <td>
                            <span data-key="ram_speed"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Color</td>
                        <td colspan="2">
                            <span data-key="color"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Ubicación</td>
                        <td colspan="2">
                            <span data-key="location"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Batería</td>
                        <td colspan="2">
                            <span data-key="battery"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>Comentarios</td>
                        <td colspan="2">
                            <span data-key="comments"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>