<div class="card">
    <div class="card-body">
        <!-- Vehículo -->
        <p class="card-text vehicle placeholder-glow" style="display: none;">
            <span class="fw-bold">Vehículo: </span>
            <span data-key-value="vehicle__name" class="placeholder col-md-4"></span>
        </p>

        <!-- Fecha de la Auditoría -->
        <p class="card-text audit_date placeholder-glow">
            <span class="fw-bold">Fecha: </span>
            <span data-key-value="audit_date" class="d placeholder col-10 col-md-4"></span>
        </p>

        <!-- Tabla de Checks -->
        <div class="table-responsive mb-3">
            <table class="table table-bordered w-100 placeholder-glow" id="audit-checks-table">
                <thead>
                    <tr>
                        <th>Nombres</th>
                        <th>Check</th>
                        <th>Notas</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Fila de cada check -->
                    <tr>
                        <th>
                            <span data-key-value="check" class="d placeholder col-4"></span>
                        </th>
                        <td class="status">
                            <span data-key-value="status" class="d placeholder col-4"></span>
                        </td>
                        <!-- Notas Editables -->
                        <td class="notes">
                            <textarea data-key-value="notes" class="form-control editable-textarea" rows="2" placeholder="Escribe las notas aquí..." readonly></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Notas Generales -->
        <p class="card-text placeholder-glow general_notes">
            <span class="fw-bold d-block w-100">Notas generales: </span>
            <span data-key-value="general_notes" class="d placeholder col-10 col-md-8"></span>
        </p>

        <!-- Botón de actualización -->
        <div id="update-button-container" class="text-end mt-3">
            <button id="update-audit-btn" class="btn btn-primary" style="display: none;">
                Actualizar Auditoría
            </button>
        </div>
    </div>
</div>
