<div class="card custom-card card-vehicle-info">
    <div class="card-body placeholder-glow">
        <div class="card-img text-center mb-2" style="min-height: 9rem;">
            <picture>
                <img src="" alt="Imagen del conductor" class="card-img" style="
                border: 5px dotted #cccccc;
                border-radius: 10px;
                cursor: crosshair;
                ">
            </picture>
        </div>
        <div class="row g-2">
            <div class="col-md-3 col-lg-3 d-none" data-info="id">
                <span class="fw-bolder">ID</span>
            </div>
            <div class="col-md-9 col-lg-9 d-none" data-info="id">
                <span class="" data-key-value="id"></span>
            </div>
            <div class="col-md-3 col-lg-3" data-info="name">
                <span class="fw-bolder">Nombre:</span>
            </div>
            <div class="col-md-9 col-lg-9" data-info="name">
                <span class="" data-key-value="name"></span>
            </div>
            <div class="col-md-3 col-lg-3" data-info="name">
                <span class="fw-bolder">Empresa:</span>
            </div>
            <div class="col-md-9 col-lg-9" data-info="name">
                <span class="" data-key-value="company__name"></span>
            </div>
            <div class="col-md-3 col-lg-3" data-info="number_phone">
                <span class="fw-bolder">Teléfono:</span>
            </div>
            <div class="col-md-9 col-lg-9" data-info="number_phone">
                <span class="" data-key-value="number_phone"></span>
            </div>
            <div class="col-md-3 col-lg-3" data-info="address">
                <span class="fw-bolder">Dirección:</span>
            </div>
            <div class="col-md-9 col-lg-9" data-info="address">
                <span class="" data-key-value="address"></span>
            </div>
        </div>
    </div>
</div>