<div class="card custom-card border">
    <div class="card-body">
        <p class="mb-1">
            <span class="fw-bold">Vehiculo:</span>
            <span data-key-value="vehicle__name">---</span>
        </p>
        <p class="mb-1">
            <span class="fw-bold">Responsable:</span>
            <span data-key-value="responsible">---</span>
        </p>
        <p class="mb-1">
            <span class="fw-bold">Motivo:</span>
            <span data-key-value="trip_purpose">----</span>
        </p>
        <p class="">
            <span class="fw-bold">Lugar:</span>
            <span data-key-value="destination">----</span>
        </p>
        <div class="table-responsive mb-3">
            
            <style>
                .fuel-img img {
                    height: 3rem;
                    width: auto;
                    position: relative;
                }
                
                .fuel-img .punta{
                    position:absolute;
                    left: 26%;
                    top: 21%;
                    transform: rotate(-65deg) scale(0.8);
                }            
            </style>
            <!--posicion -> 0%   left 26%, top 21%, -65deg-->
            <!--posicion -> 25%  left 32%, top 6%, -33deg-->
            <!--posicion -> 50%  left 44%, top 0%, 0deg-->
            <!--posicion -> 75%  left 55%, top 6%, 33deg-->
            <!--posicion -> 100% left 60%, top 21%, 65deg-->
            <table class="table table-bordered table-hover w-100">
                <thead>
                    <tr>
                        <th></th>
                        <th>Kilometraje</th>
                        <th>Gasolina</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Inicial</th>
                        <td><span data-key-value="initial_mileage"></span></td>
                        <td class="d-flex align-items-center flex-column fuel-img">
                            <span data-key-value="initial_fuel"></span>
                            <div class="position-relative">
                                <img class="medidor" src="/static/assets/images/vehicles/gasolina-medidor-medidor.png">
                                <img class="punta punta-inicial" src="/static/assets/images/vehicles/gasolina-medidor-punta.png">
                            </div>
                        </td>
                        <td><span data-key-value="start_date"></span></td>
                    </tr>
                    <tr>
                        <th>Final</th>
                        <td><span data-key-value="final_mileage"></span></td>
                        <td class="d-flex align-items-center flex-column fuel-img">
                            <span data-key-value="final_fuel"></span>
                            <div class="position-relative">
                                <img class="medidor" src="/static/assets/images/vehicles/gasolina-medidor-medidor.png">
                                <img class="punta punta-final" src="/static/assets/images/vehicles/gasolina-medidor-punta.png">
                            </div>
                        </td>
                        <td><span data-key-value="end_date"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row g-3 placeholder-glow">
            <div class="col-md-6">
                <div class="row g-2 text-center">
                    <div class="col-12">
                        Salida
                    </div>
                    <div class="col">
                        <div class="card d-flex placeholder">
                            <img src="#" alt="image_path_exit_1" class="card-img">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card d-flex placeholder">
                            <img src="#" alt="image_path_exit_2" class="card-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row g-2 text-center">
                    <div class="col-12">
                        Entrada
                    </div>
                    <div class="col">
                        <div class="card d-flex placeholder">
                            <img src="#" alt="image_path_entry_1" class="card-img">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card d-flex placeholder">
                            <img src="#" alt="image_path_entry_2" class="card-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-lg-6 col-xxl-5 text-center">
                <div class="px-1 text-center">
                    <img src="#" alt="firma" style="max-width: 350px; width: 100%;">
                </div>
                <div class="px-2 border border-top"></div>
                <p>FIRMA</p>
            </div>
        </div>
    </div>
</div>