<div class="card custom-card card-vehicle-info">
    <div class="card-body placeholder-glow">
        <div class="card-img text-center mb-2" style="min-height: 9rem;">
            <picture>
                <img src="" alt="Imagen del vehículo" class="card-img">
            </picture>
        </div>
        <div class="row g-2">
            <div class="col-md-3 col-lg-3 d-none" data-info="id">
                <span class="fw-bolder">ID</span>
            </div>
            <div class="col-md-9 col-lg-9 d-none" data-info="id">
                <span class="" data-key-value="id"></span>
            </div>
            <div class="col-md-3 col-lg-3" data-info="name">
                <span class="fw-bolder">Activo:</span>
            </div>
            <div class="col-md-9 col-lg-9" data-info="name">
                <span class="" data-key-value="is_active"></span>
            </div>
            <div class="col-md-3 col-lg-3" data-info="name">
                <span class="fw-bolder">Nombre:</span>
            </div>
            <div class="col-md-9 col-lg-9" data-info="name">
                <span class="" data-key-value="name"></span>
            </div>
            <div class="col-md-3 col-lg-3" data-info="state">
                <span class="fw-bolder">Estado:</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="state"></span>
            </div>
            <div class="col-md-3 col-lg-3" data-info="name">
                <span class="fw-bolder">Empresa</span>
            </div>
            <div class="col-md-9 col-lg-9" data-info="name">
                <span class="" data-key-value="company__name"></span>
            </div>

            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">Placa</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="plate"></span>
            </div>
            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">Modelo</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="model"></span>
            </div>

            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">Año</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="year"></span>
            </div>

            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">
                    N. Serie
                </span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="serial_number"></span>
            </div>

            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">Marca</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="brand"></span>
            </div>

            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">Color</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="color"></span>
            </div>

            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">Tipo:</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="vehicle_type"></span>
            </div>

            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">Validez:</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="validity"></span>
            </div>

            <div class="col-md-3 col-lg-4 text-truncate">
                <span class="fw-bolder">Kilometraje:</span>
            </div>
            <div class="col-md-9 col-lg-8">
                <span class="" data-key-value="mileage"></span>
            </div>

            <div class="col-md-3 col-lg-4 text-truncate">
                <span class="fw-bolder">Aseguradora:</span>
            </div>
            <div class="col-md-9 col-lg-8">
                <span class="" data-key-value="insurance_company"></span>
            </div>

            <div class="col-md-3 col-lg-4 text-truncate">
                <span class="fw-bolder">Responsable:</span>
            </div>
            <div class="col-md-9 col-lg-8">
                <span class="" data-key-value="responsible__name"></span>
            </div>

            <div class="col-md-3 col-lg-3">
                <span class="fw-bolder">LLantas:</span>
            </div>
            <div class="col-md-9 col-lg-9">
                <span class="" data-key-value="car_tires"></span>
            </div>
        </div>
    </div>
</div>