{% extends 'ynex/base.html' %}

{% block content %}
{% load static %}
<div class="">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">
            Mantenimiento
        </h1>
        <div class="ms-md-1 ms-0">
            <nav>
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item">Vehículos</li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Mantenimiento
                    </li>
                </ol>
            </nav>
        </div>
    </div>
</div>
<div id="v-maintenance-pane" class="active show">
    <div class="info">
        <div class="card custom-card">
            <div class="card-header justify-content-between">
                <div class="card-title">
                    Mantenimiento
                </div>
                <div class="">
                    {% if access.create %}
                    <button type="button" class="btn btn-sm btn-primary" data-sia-equipment-maintenance="add-item"
                        title="Agregar Mantenimiento">
                        <i class="fa-solid fa-plus me-1"></i>
                        Agregar
                    </button>
                    <button type="button" class="btn btn-sm btn-primary" data-sia-equipment-maintenance="schedule-item"
                        title="programar Mantenimiento">
                        <i class="fa-solid fa-bell-plus me-1"></i>
                        Programar
                    </button>
                    {% endif %}
                    <button type="button" class="btn btn-sm btn-info-light" data-sia-equipment-maintenance="refresh-table"
                        title="Refrescar tabla">
                        <i class="fa-solid fa-arrows-rotate me-1"></i>
                    </button>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered w-100" id="table_maintenance">
                        <thead></thead>
                        <tbody></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="info-details" style="display: none;">
        <div class="row g-3">
            <div class="col-md-4 col-xxl-3">
                {% include "equipments-and-tools/cards/equipment_info.html" %}
            </div>
            <div class="col-md-8 col-xxl-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mb-0">
                            <button
                                type="button"
                                class="btn btn-info"
                                data-sia-equipment-maintenance="show-info"
                                title="Regresar"
                            >
                                <i class="fa-solid fa-arrow-left me-1"></i>
                                Regresar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                {% include "equipments-and-tools/cards/maintenance_info.html" %}
                <!-- end -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% load static %}

{% block modals %}
    {% include "equipments-and-tools/modals/mdl_crud_maintenance.html" %}
    {% include "equipments-and-tools/modals/mdl_crud_option_maintenance.html" %}
{% endblock %}

{% block offcanvas %} {% endblock %}

{% block head %} {% endblock %}

{% block scripts %}
    <script src="{% static 'assets/js/equipment-and-tools/maintenance.js' %}"></script>
    <script src="{% static 'assets/js/users/providers.js' %}"></script>
    <script src="{% static 'assets/js/equipment-and-tools/maintenance.js' %}"></script>
    <script>
        const mantenimiento = new EquipmentsMaintenance({
            table: {
                id: '#table_maintenance',
            },
        
            provider: new Providers({
                list: { id: "select[name='equipment_id']" }
            })
        });
    </script>
{% endblock %}