{% extends 'ynex/base.html' %}
{% block content %}
<div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
    <h1 class="page-title fw-semibold fs-18 mb-0">
        Equipos y herramientas 
    </h1>
    <div class="ms-md-1 ms-0">
        <nav>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item">Equipos y herramientas</li>
                <li class="breadcrumb-item active" aria-current="page">
                    Responsivas
                </li>
            </ol>
        </nav>
    </div>
</div>
<section class="w-100">
    <div class="card custom-card">
        <div class="card-header justify-content-between">
            <div class="card-title">
                Responsivas 
            </div>
            <div class="">
                <button type="button" class="btn btn-sm btn-info-light" data-equipment-tools="refresh-table" title="Refrescar tabla" data-refresh-table="table_refrendo">
                    <i class="fa-solid fa-arrows-rotate"></i>
                    Recargar datos
                </button>
            </div>
        </div>
        <div class="card-body">
            <!-- tabla -->
            <div class="table-responsive">
                <table class="table table-bordered w-100" id="table_responsiva">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre del equipo</th>
                            <th>Responsable del equipo</th>
                            <th>Cantidad</th>
                            <th>Estado del equipo</th>
                            <th>Fecha de inicio</th>
                            <th>Fecha de entrega</th>
                            <th>Tiempo solicitado (Dias)</th>
                            <th>Fecha de recibido</th>
                            <th>Responsiva del equipo</th>
                            <th>Comentarios o notas</th>
                            <th>Registro de Estado del equipo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot></tfoot>
                </table>
            </div>
            <!-- end tabla -->
        </div>
    </div>
</section>
{% endblock %}

{% load static %}

{% block modals %}
{% include "equipments-and-tools/modals/mdl-crud-equipments-tools.html" %}
{% include "equipments-and-tools/modals/mdl-crud-status-responsiva.html" %}
{% include "equipments-and-tools/modals/mdl-crud-edit-responsiva.html" %}
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/users/users.js' %}"></script>
<script src="{% static 'assets/js/users/areas.js' %}"></script>
<script src="{% static 'assets/js/users/providers.js' %}"></script>
<script src="{% static 'assets/js/equipment-and-tools/equipments_tools.js' %}"></script>
<script src="{% static 'assets/js/equipment-and-tools/responsiva.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
{% endblock %}
