<div class="modal fade effect-scale" id="mdl-crud-numero-serie" tabindex="-1" aria-labelledby="modalAsignarNumeroSerie" aria-hidden="true">

    <div class="modal-dialog modal-lg modal-fullscreen-lg-down modal-dialog-scrollable">

        <form id="formAsignarNumeroSerie">

            {% csrf_token %}

            <div class="modal-content">

                <div class="modal-header">

                    <h1
                        class="modal-title fs-5"
                        id="modalAsignarNumeroSerie">
                        Asignar Número de Serie
                    </h1>

                    <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Cerrar">
                    </button>

                </div>

                <div class="modal-body">
                    <input type="hidden" id="detalle_id" name="detalle_id">

                    <div class="col-md-12">
                        <label
                            for="serial_number"
                            class="form-label">
                            Número de Serie
                        </label>

                        <input
                            type="text"
                            id="serial_number"
                            name="serial_number"
                            class="form-control"
                            placeholder="Número de serie"
                            minlength="3"
                            maxlength="50"
                            required>
                    </div>
                </div>

                <div class="modal-footer">
                    <button
                        type="submit"
                        class="btn btn-success">
                        Guardar
                    </button>

                    <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                        Cerrar
                    </button>

                </div>
            </div>
        </form>
    </div>
</div>