{% extends 'ynex/base.html' %}

{% block content %}
{% load static %}
<div class="">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">
            Auditoria
        </h1>
        <div class="ms-md-1 ms-0"></div>
    </div>
</div>
<div id="v-audit-pane" class="active show">
    <div class="info">
        <div class="card custom-card">
            <div class="card-body">
                <div class="mb-3">
                    {% if role.id == 1 or role.id == 2 %}
                    <button type="button" class="btn btn-primary" data-vehicle-audit="add-item"
                        title="Agregar Seguro">
                        <i class="fa-solid fa-plus me-1"></i>
                        Agregar
                    </button>
                    {% endif %}
                    <button type="button" class="btn btn-primary" data-vehicle-audit="refresh-table"
                        title="Refrescar tabla">
                        <i class="fa-solid fa-arrows-rotate me-1"></i>
                        Refrescar tabla
                    </button>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered w-100" id="table_audit">
                        <thead></thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="info-details" style="display: none;">
        <div class="row g-3">
            <div class="col-md-4 col-xxl-3">
                {% include "card/vehicle_info.html" %}
            </div>
            <div class="col-md-8 col-xxl-9">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="mb-0">
                            <button
                                type="button"
                                class="btn btn-info"
                                data-vehicle-audit="show-info"
                                title="Regresar"
                            >
                                <i class="fa-solid fa-arrow-left me-1"></i>
                                Regresar
                            </button>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                {% include "card/audit_info.html" %}
                <!-- end -->
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% load static %}

{% block modals %}
    {% include "modal/mdl_crud_audit.html" %}
{% endblock %}

{% block offcanvas %} {% endblock %}

{% block head %} {% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/module_vehicles_info.js' %}"></script>
<script src="{% static 'assets/js/module_vehicles_audit.js' %}"></script>
<script>
    const auditoria = new VehiclesAudit({
        table: { id: '#table_audit' },
        vehicle: new Vehicles({
            list: { id: '[name="vehicle_id"]' },
            infoCard: {}
        })
    });
</script>
{% endblock %}