{% extends 'ynex/base.html' %}
{% block content %}
<div class="">    
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">
            Vehículo
        </h1>
        <div class="ms-md-1 ms-0"></div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xxl-3">
            {% include "vehicles/cards/vehicle_info.html" %}
        </div>
        <div class="col-md-8 col-xxl-9">
            <div class="row">
                <div class="col-12">
                    <!-- x -->
                    <div class="card custom-card">
                        <div class="card-body p-0">
                            <!-- nav tab -->
                            <div class="p-2 border-bottom border-block-end-dashed">
                                <ul class="nav nav-tabs mb-0 tab-style-6 justify-content-start">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="v-load" data-bs-toggle="tab" data-bs-target="#v-load-pane" type="button" role="tab" aria-controls="v-load-pane" aria-selected="true">
                                            Cargando tabs...
                                        </button>
                                    </li>
                                    {% if permiso.5.read %}
                                    <li class="nav-item" role="presentation" style="display: none;">
                                        <button class="nav-link" id="v-tenencia" data-bs-toggle="tab" data-bs-target="#v-tenencia-pane" type="button" role="tab" aria-controls="v-tenencia-pane" aria-selected="true">
                                            Tenencia <span class="alert-icon" style="position: relative; top: -5px; left: 3px;"></span>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% if permiso.6.read %}
                                    <li class="nav-item" role="presentation" style="display: none;">
                                        <button class="nav-link" id="v-refrendo" data-bs-toggle="tab" data-bs-target="#v-refrendo-pane" type="button" role="tab" aria-controls="v-refrendo-pane" aria-selected="false">
                                            Refrendo <span class="alert-icon" style="position: relative; top: -5px; left: 3px;"></span>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% if permiso.7.read %}
                                    <li class="nav-item" role="presentation" style="display: none;">
                                        <button class="nav-link" id="v-verificacion" data-bs-toggle="tab" data-bs-target="#v-verificacion-pane" type="button" role="tab" aria-controls="v-verificacion-pane" aria-selected="false">
                                            Verificación <span class="alert-icon" style="position: relative; top: -5px; left: 3px;"></span>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% if permiso.8.read %}
                                    <li class="nav-item" role="presentation" style="display: none;">
                                        <button class="nav-link" id="v-responsiva" data-bs-toggle="tab" data-bs-target="#v-responsiva-pane" type="button" role="tab" aria-controls="v-responsiva-pane" aria-selected="false">
                                            Entradas y Salidas <span class="alert-icon" style="position: relative; top: -5px; left: 3px;"></span>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% if permiso.9.read %}
                                    <li class="nav-item" role="presentation" style="display: none;">
                                        <button class="nav-link" id="v-insurance" data-bs-toggle="tab" data-bs-target="#v-insurance-pane" type="button" role="tab" aria-controls="v-insurance-pane" aria-selected="false">
                                            Seguro <span class="alert-icon" style="position: relative; top: -5px; left: 3px;"></span>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% if permiso.10.read %}
                                    <li class="nav-item" role="presentation" style="display: none;">
                                        <button class="nav-link" id="v-audit" data-bs-toggle="tab" data-bs-target="#v-audit-pane" type="button" role="tab" aria-controls="v-audit-pane" aria-selected="false">
                                            Auditoria <span class="alert-icon" style="position: relative; top: -5px; left: 3px;"></span>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% if permiso.11.read %}
                                    <li class="nav-item" role="presentation" style="display: none;">
                                        <button class="nav-link" id="v-maintenance" data-bs-toggle="tab" data-bs-target="#v-maintenance-pane" type="button" role="tab" aria-controls="v-maintenance-pane" aria-selected="false">
                                            Mantenimiento <span class="alert-icon" style="position: relative; top: -5px; left: 3px;"></span>
                                        </button>
                                    </li>
                                    {% endif %}
                                    {% if permiso.12.read %}
                                    <li class="nav-item" role="presentation" style="display: none;">
                                        <button class="nav-link" id="v-qr" data-bs-toggle="tab" data-bs-target="#v-qr-pane" type="button" role="tab" aria-controls="v-qr-pane" aria-selected="false">
                                            Códigos QR <span class="alert-icon" style="position: relative; top: -5px; left: 3px;"></span>
                                        </button>
                                    </li>
                                    {% endif %}
                                  

                                </ul>
                            </div>
                            <!-- contenido tab -->
                            <div class="p-3">
                                <div class="tab-content">
                                    <div class="tab-pane fade p-0 border-0 active show" id="v-load-pane" role="tabpanel" aria-labelledby="v-load" tabindex="0">
                                        <div class="text-center">
                                            <div class="spinner-border" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Modulo de tenencia-->
                                    <div class="tab-pane fade p-0 border-0" id="v-tenencia-pane" role="tabpanel" aria-labelledby="v-tenencia" tabindex="0">
                                        <div class="mb-3">
                                            {% if permiso.5.create %}
                                            <button type="button" class="btn btn-primary" data-vehicle-tenencia="add-item"
                                                title="Agregar usuario">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                Agregar
                                            </button>
                                            {% endif %}
                                            <button type="button" class="btn btn-primary" data-vehicle-tenencia="refresh-table"
                                                title="Refrescar tabla" data-refresh-table>
                                                <i class="fa-solid fa-arrows-rotate me-1"></i>
                                                Refrescar tabla
                                            </button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered w-100" id="table_tenencia">
                                                <thead>
                                                    <tr>
                                                        <th>1</th>
                                                        <th>2</th>
                                                        <th>3</th>
                                                        <th>4</th>
                                                        <th>5</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-0 border-0" id="v-refrendo-pane" role="tabpanel" aria-labelledby="refrendo-tab" tabindex="0">
                                        <div class="mb-3">
                                            {% if permiso.6.create %}
                                            <button type="button" class="btn btn-primary" data-vehicle-refrendo="add-item"
                                                title="Agregar usuario">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                Agregar
                                            </button>
                                            {% endif %}
                                            <button type="button" class="btn btn-primary" data-vehicle-refrendo="refresh-table"
                                                title="Refrescar tabla" data-refresh-table="refrendo">
                                                <i class="fa-solid fa-arrows-rotate me-1"></i>
                                                Refrescar tabla
                                            </button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table w-100" id="table_refrendo">
                                                <thead></thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-0 border-0" id="v-verificacion-pane" role="tabpanel" aria-labelledby="verificacion-tab" tabindex="0">
                                        <div class="mb-3">
                                            {% if permiso.7.create %}
                                            <button type="button" class="btn btn-primary" data-vehicle-verificacion="add-item"
                                                title="Agregar usuario">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                Agregar
                                            </button>
                                            {% endif %}
                                            <button type="button" class="btn btn-primary" data-vehicle-verificacion="refresh-table"
                                                title="Refrescar tabla"
                                            >
                                                <i class="fa-solid fa-arrows-rotate me-1"></i>
                                                Refrescar tabla
                                            </button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table w-100" id="table_verificacion">
                                                <thead></thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-0 border-0" id="v-responsiva-pane" role="tabpanel" aria-labelledby="responsiva-tab" tabindex="0">
                                        <div class="info">
                                            <div class="mb-3">
                                                {% if permiso.8.create %}
                                                <button type="button" class="btn btn-primary" data-vehicle-responsiva="add-item"
                                                    title="Agregar usuario">
                                                    <i class="fa-solid fa-plus me-1"></i>
                                                    Registrar salida
                                                </button>
                                                {% endif %}
                                                <button type="button" class="btn btn-primary" data-vehicle-responsiva="refresh-table"
                                                    title="Refrescar tabla" data-refresh-table="table_responsiva">
                                                    <i class="fa-solid fa-arrows-rotate me-1"></i>
                                                    Refrescar tabla
                                                </button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table w-100" id="table_responsiva">
                                                    <thead></thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="info-details" style="display: none;">
                                            <!-- 1 -->
                                            <div class="mb-3">
                                                <button type="button" class="btn btn-info" onclick="hideShow('#v-responsiva-pane .info-details', '#v-responsiva-pane .info');">
                                                    <i class="fa-solid fa-arrow-left me-1"></i>
                                                    Regresar
                                                </button>
                                            </div>
                                            <!-- 2 -->
                                            {% include "vehicles/cards/responsive_info.html" %}
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-0 border-0" id="v-insurance-pane" role="tabpanel" aria-labelledby="insurance-tab" tabindex="0">
                                        <div class="mb-3">
                                            {% if permiso.9.create %}
                                            <button type="button" class="btn btn-primary" data-vehicle-insurance="add-item"
                                                title="Agregar Seguro">
                                                <i class="fa-solid fa-plus me-1"></i>
                                                Agregar
                                            </button>
                                            {% endif %}
                                            <button type="button" class="btn btn-primary" data-vehicle-insurance="refresh-table"
                                                title="Refrescar tabla" data-refresh-table="table_insurance">
                                                <i class="fa-solid fa-arrows-rotate me-1"></i>
                                                Refrescar tabla
                                            </button>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-bordered w-100" id="table_insurance">
                                                <thead></thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade p-0 border-0" id="v-audit-pane" role="tabpanel" aria-labelledby="audit-tab" tabindex="0">
                                        <div class="info">
                                            <div class="mb-3">
                                                {% if permiso.10.create %}
                                                <button type="button" class="btn btn-primary" data-vehicle-audit="add-item"
                                                    title="Agregar Seguro">
                                                    <i class="fa-solid fa-plus me-1"></i>
                                                    Agregar
                                                </button>
                                                {% endif %}
                                                <button type="button" class="btn btn-primary" data-vehicle-audit="refresh-table"
                                                    title="Refrescar tabla">
                                                    <i class="fa-solid fa-arrows-rotate me-1"></i>
                                                    Refrescar tabla
                                                </button>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered w-100" id="table_audit">
                                                    <thead></thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="info-details" style="display: none;">
                                            <div class="mb-3">
                                                <button type="button" class="btn btn-info btn-sm" data-vehicle-audit="show-info">
                                                    <i class="fa-solid fa-arrow-left me-1"></i>
                                                    Regresar
                                                </button>
                                            </div>
                                            {% include "vehicles/cards/audit_info.html" %}
                                        </div>
                                    </div>
                                    <!--Contenido te tabla mantenimiento para vehiculos-->
                                    <div class="tab-pane fade p-0 border-0" id="v-maintenance-pane" role="tabpanel" aria-labelledby="maintenance-tab" tabindex="0">
                                        <div class="info">
                                            <div class="mb-3">
                                                {% if permiso.11.create %}
                                                <button type="button" class="btn btn-primary" data-sia-vehicle-maintenance="add-item"
                                                    title="Agregar Seguro">
                                                    <i class="fa-solid fa-plus me-1"></i>
                                                    Agregar
                                                </button>
                                                {% endif %}
                                                <button type="button" class="btn btn-primary" data-sia-vehicle-maintenance="refresh-table"
                                                    title="Refrescar tabla">
                                                    <i class="fa-solid fa-arrows-rotate me-1"></i>
                                                    Refrescar tabla
                                                </button>
                                                {% if permiso.11.create %}
                                                    <button type="button" class="btn btn-primary" data-vehicle-maintenance="add-vehicle-kl">
                                                        <i class="fa-solid fa-plus me-1"></i>
                                                        Agregar Kilometraje
                                                    </button>
                                                {% endif %}
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table table-bordered w-100" id="table_maintenance">
                                                    <thead></thead>
                                                    <tbody></tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="info-details" style="display: none;">
                                            <div class="mb-3">
                                                <button type="button" class="btn btn-info btn-sm" data-sia-vehicle-maintenance="show-info">
                                                    <i class="fa-solid fa-arrow-left me-1"></i>
                                                    Regresar
                                                </button>
                                            </div>
                                            {% include "vehicles/cards/maintenance_info.html" %}
                                        </div>
                                    </div>

                                    <div class="tab-pane fade p-0 border-0" id="v-qr-pane" role="tabpanel" aria-labelledby="v-qr" tabindex="0">
                                        <div class="mb-3">
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="card custom-card">
                                                    <div class="card-header">
                                                        <h5 class="card-title">QR de Información</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="qr-info-container">
                                                            <!-- Aquí se mostrará el QR de información -->
                                                        </div>
                                                        <div class="mt-3">
                                                            <button type="button" class="btn btn-warning btn-sm" data-vehicle-qr="qr-info">
                                                                <i class="fa-solid fa-pencil me-1"></i>
                                                                Generar
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-sm" data-vehicle-qr="delete-qrinfo">
                                                                <i class="fa-solid fa-trash me-1"></i>
                                                                Eliminar
                                                            </button>
                                                            <button type="button" class="btn btn-success btn-sm" data-vehicle-qr="descargar-qr-info" style="display: none;">
                                                                <i class="fa-solid fa-download me-1"></i>
                                                                Descargar
                                                            </button>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="card custom-card">
                                                    <div class="card-header">
                                                        <h5 class="card-title">QR de Entradas y Salidas</h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <div id="qr-access-container">
                                                            <!-- Aquí se mostrará el QR de entradas y salidas -->
                                                        </div>
                                                        <div class="mt-3">
                                                            <button type="button" class="btn btn-warning btn-sm" data-vehicle-qr="qr-access">
                                                                <i class="fa-solid fa-pencil me-1"></i>
                                                                Generar
                                                            </button>
                                                            <button type="button" class="btn btn-danger btn-sm" data-vehicle-qr="delete-qraccess">
                                                                <i class="fa-solid fa-trash me-1"></i>
                                                                Eliminar
                                                            </button>
                                                            <button type="button" class="btn btn-success btn-sm" data-vehicle-qr="descargar-qr-access" style="display: none;">
                                                                <a href=""></a>
                                                                <i class="fa-solid fa-download me-1"></i>
                                                                Descargar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- x -->
                </div>
                <div class="col-sm-4">
                    <div class="card custom-card">
                        <div class="card-body"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card custom-card">
                        <div class="card-body"></div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card custom-card">
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>
{% endblock %}

{% load static %}

{% block modals %}
    <script src="https://cdn.jsdelivr.net/npm/qrcode/build/qrcode.min.js"></script>

    {% include "vehicles/modals/mdl_crud_tenencia.html" %}
    {% include "vehicles/modals/mdl_crud_refrendo.html" %}
    {% include "vehicles/modals/mdl_crud_verificacion.html" %}
    {% include "vehicles/modals/mdl_crud_responsiva.html" %}
    {% include "vehicles/modals/mdl_crud_insurance.html" %}
    {% include "vehicles/modals/mdl_crud_audit.html" %}
    {% include "vehicles/modals/mdl_crud_maintenance.html" %}
    {% include "vehicles/modals/mdl_crud_maintenance_kilometer.html" %}
    {% include "vehicles/modals/mdl_crud_option_maintenance.html" %}

{% endblock %}

{% block offcanvas %}
    {% include "vehicles/offcanvas/oc_crud_vechicles_info.html" %}
    {% include "vehicles/modals/mdl_crud_checks.html" %}

{% endblock %}


{% block head %}
<style>
    .info-card {
        border: 1px solid var(--default-border) !important;
    }
    .select2-container {
        z-index: 1055;
    }
</style>
<script>
    const vehicle_id = "{{ vehicle.id }}"
</script>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/gh/mcstudios/glightbox/dist/js/glightbox.min.js"></script>
<script src="{% static 'assets/js/users/users.js' %}"></script>
<script src="{% static 'assets/js/users/providers.js' %}"></script>
<script src="{% static 'assets/js/vehicles/vehicles.js' %}"></script>
<script src="{% static 'assets/js/canvasDrawing.js' %}"></script>

<script src="{% static 'assets/js/vehicles/qr.js' %}"></script>
<script>
    const vehiculo = new Vehicles({
        infoCard: {
            vehicle: { id: vehicle_id }
        },
        list: {
            id: '[name="vehicle_id"], [name="vehiculo_id"]'
        },
    });

    const responsables = new Users({
        list: { id: '.modal select[name="responsible_id"]' },
    });
</script>

{% if permiso.5.read %}
<!-- ! Tenencia -->
<script src="{% static 'assets/js/vehicles/vehicles_tenencia.js' %}"></script>
<script>
    const tenencia = new VehiclesTenencia({
        table: { 
            id:'#table_tenencia',
            vehicle: {
                id:vehicle_id,
                name: "Auto"
            }
        },
        vehicle: vehiculo
    });
</script>
{% endif %}

{% if permiso.6.read %}
<!-- ! Refrendo -->
<script src="{% static 'assets/js/vehicles/vehicles_refrendo.js' %}"></script>
<script>
    const refrendo = new VehiclesRefrendo({
        table: {
            id:'#table_refrendo',
            vehicle: {
                id:vehicle_id,
                name: "Auto"
            }
        },
        vehicle: vehiculo
    });
</script>
{% endif %}

{% if permiso.7.read %}
<!-- ! Verificacion -->
<script src="{% static 'assets/js/vehicles/vehicles_verificacion.js' %}"></script>
<script>
    const verificaciones = new VehiclesVerificacion({
        table: { 
            id: '#table_verificacion',
            vehicle: { 
                id:vehicle_id,
                name: "Auto"
            }
        },
        vehicle: vehiculo
    });
</script>
{% endif %}

{% if permiso.8.read %}
<!-- ! Responsivas -->
<script src="{% static 'assets/js/vehicles/responsiva.js' %}"></script>
<script>
    var canvas_signature = new CanvasDrawing("canvas-signature");
    const responsivas = new VehiclesResponsiva({
        table: {
            id:'#table_responsiva',
            vehicle: {
                id:vehicle_id,
                name: "Auto"
            }
        },
        vehicle: vehiculo
    });
</script>
{% endif %}

{% if permiso.9.read %}
<!-- ! Seguros -->
<script src="{% static 'assets/js/vehicles/vehicles_insurance.js' %}"></script>
<script>
    const seguros = new VehiclesInsurance({
        table: {
            id: '#table_insurance',
            vehicle: {
                id:vehicle_id,
                name: "Auto"
            }
        },
        vehicle: vehiculo
    });
</script>
{% endif %}

{% if permiso.10.read %}
<!-- ! Auditorias -->
<script src="{% static 'assets/js/vehicles/audit.js' %}"></script>
<script>    
    const auditorias = new VehiclesAudit({
        table: { 
            id: '#table_audit',
            vehicle: { 
                id:vehicle_id,
                name: "Auto"
            }
        },
        vehicle: vehiculo,
    });
</script>
{% endif %}

{% if permiso.11.read %}
<!-- ! Mantenimiento -->
<script src="{% static 'assets/js/vehicles/maintenance.js' %}"></script>
<script>    
    const mantenimiento = new VehiclesMaintenance({
        table: {
            id: '#table_maintenance',
            vehicle: {
                id: vehicle_id,
                name: "Auto"
            }
        },
        vehicle: vehiculo,
    });
</script>
{% endif %}

<script>
    const provider = new Providers({
        list: {
            id: "select[name='provider_id']"
        }
    })
</script>
<script>
    $(document).ready(function() {
        var $tabs = $("ul.nav-tabs li");
        $tabs.show();
        $("#v-load").closest("li").remove();
        $("#v-load-pane").remove();
        
        $tabs = $("ul.nav-tabs li");
        $tabs.first().find('button').tab('show');
    });
</script>
{% endblock %}