{% extends 'ynex/base.html' %}
{% block content %}
<div class="">
    <div class="d-md-flex d-block align-items-center justify-content-between my-4 page-header-breadcrumb">
        <h1 class="page-title fw-semibold fs-18 mb-0">
            Verificación
        </h1>
        <div class="ms-md-1 ms-0"></div>
    </div>
    <section>
        <div class="row g-3">
            <div class="col-sm-4 col-lg-3">
                <div class="card mb-0 cursor-pointer filter-card" data-status="todas" style="cursor:pointer;">
                    <div class="card-body">
                        <div class="d-flex align-items-top">
                            <div class="me-3">
                                <span class="avatar avatar-lg bg-primary">
                                    <i class="fa-solid fa-folder-open fa-xl"></i>
                                </span>
                            </div>
                            <div class="">
                                <p class="mb-1 text-muted">TODAS</p>
                                <h5 id="counter-todas" class="fw-semibold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3">
                <div class="card mb-0 cursor-pointer filter-card" data-status="pagadas" style="cursor:pointer;">
                    <div class="card-body">
                        <div class="d-flex align-items-top">
                            <div class="me-3">
                                <span class="avatar avatar-lg bg-primary">
                                    <i class="fa-sharp fa-solid fa-circle-dollar fa-xl"></i>
                                </span>
                            </div>
                            <div class="">
                                <p class="mb-1 text-muted">PAGADAS</p>
                                <h5 id="counter-pagadas" class="fw-semibold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3">
                <div class="card mb-0 cursor-pointer filter-card" data-status="vencidas" style="cursor:pointer;">
                    <div class="card-body">
                        <div class="d-flex align-items-top">
                            <div class="me-3">
                                <span class="avatar avatar-lg bg-primary">
                                    <i class="fa-solid fa-circle-xmark fa-xl"></i>
                                </span>
                            </div>
                            <div class="">
                                <p class="mb-1 text-muted">VENCIDAS</p>
                                <h5 id="counter-vencidas" class="fw-semibold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3">
                <div class="card mb-0 cursor-pointer filter-card" data-status="proximas" style="cursor:pointer;">
                    <div class="card-body">
                        <div class="d-flex align-items-top">
                            <div class="me-3">
                                <span class="avatar avatar-lg bg-primary">
                                    <i class="fa-solid fa-calendar-circle-exclamation fa-xl"></i>
                                </span>
                            </div>
                            <div class="">
                                <p class="mb-1 text-muted">PROXIMAS A PAGAR</p>
                                <h5 id="counter-proximas" class="fw-semibold mb-0">0</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md col-xxl">
                <div class="card custom-card">
                    <div class="card-header justify-content-between">
                        <div class="card-title">
                            Verificación
                        </div>
                        <div class="">
                            {% if access.create %}
                            <button type="button" class="btn btn-sm btn-primary" data-vehicle-verificacion="add-item"
                                title="Agregar usuario">
                                <i class="fa-solid fa-plus"></i>
                                Agregar
                            </button>
                            {% endif %}
                            <button type="button" class="btn btn-icon btn-sm btn-info-light" data-vehicle-verificacion="refresh-table"
                                title="Refrescar tabla" data-refresh-table="table_verificacion">
                                <i class="fa-solid fa-arrows-rotate"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered w-100" id="table_verificacion">
                                <thead></thead>
                                <tbody></tbody>
                                <tfoot></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% load static %}

{% block modals %}
    {% include "vehicles/modals/mdl_crud_verificacion.html" %}
{% endblock %}

{% block head %}
<script>
    const vehicle_id = "{{ vehicle.id }}"
</script>
{% endblock %}

{% block scripts %}
<script src="{% static 'assets/js/vehicles/vehicles.js' %}"></script>
<script src="{% static 'assets/js/vehicles/vehicles_verificacion.js' %}"></script>
<script>
    const verificaciones = new VehiclesVerificacion({
        table: "#table_verificacion",
        vehicle: new Vehicles({
            list: { id: "[name='vehiculo_id']" },
        })
    });
</script>
{% endblock %}