{% extends 'ynex/base.html' %}
{% block content %}
<div class="">
    <section>
        <div class="row justify-content-center align-items-center" style="height: 80vh;">
            <div class="col-md-6 text-center">
                <h1 style="font-size: 15vh;">
                    <i class="fa-light fa-face-pleading" style="color: #FFD43B;"></i>
                </h1>
                <h5>Lo siento, acceso Denegado</h5>
                <p>Por favor, consulta con un administrador para obtener permisos de acceso</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% load static %}

{% block modals %}
{% endblock %}

{% block scripts %}
{% endblock %}